<div class="container">

  <h1>Saving Goal Calculator</h1>

  <div class="form">
    <form [formGroup]="myForm">

      <div class="inputs" formArrayName="goals">
        <div *ngFor="let goal of goalsForm.controls; let i = index" [formGroupName]="i">

          <mat-form-field appearance="fill">
            <mat-label>Goal name</mat-label>
            <input matInput type="text" placeholder="name" formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Goal amount</mat-label>
            <input matInput formControlName="amount">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <fa-icon [icon]="faTrash" (click)="deleteGoal(i)"></fa-icon>

        </div>
      </div>

      <div class="buttons">

        <button mat-raised-button color="secondary" (click)="addGoal()" [disabled]="myForm.invalid">Add Goal</button>
        <button mat-raised-button color="secondary" (click)="resetForm()">Reset</button>
        <button mat-raised-button color="primary" (click)="submitGoals()" [disabled]="myForm.invalid">Submit</button>
      </div>
    </form>
  </div>

  <h3>{{totalString}}</h3>


  <div class="table">
    <table class='table table-striped' *ngIf="tableData.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Completed</th>
          <th>Save per Month</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let goal of tableData'>
          <td>{{ goal.name }}</td>
          <td>{{ goal.goalDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{ goal.amountToSave | currency:"GBP":"symbol":"1.2-2"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>